page-signup {

    ion-content {
        .scroll-content { 
            background-color: map-get($colors , primary );
        }
    }

    .item {
        background-color: map-get($colors , primary );
    }

    .logo {
        font-size: 18vh;
        margin-top: 40px;
        margin-bottom:20px;
    }

    .logo1 {
        font-size: 12vh;
        margin-right: 30px;
    }
    .logo2 {
        font-size: 6vh;
        margin-right: 30px;
    }

    h1, h6 {
        font-size: 1em;
        color: white;
    }

    .signup-box {
        width: 75%;
    }

    .row-style {
        background-color: white;
        padding-left: 10px;
        margin-top: 10px;
        border-radius: 30px;

        ion-icon {
            margin-top: 14px;
            margin-right: 10px;
        }
    }

    .signup {
        margin-top: 20px;
    }

}
